body, html, #Root {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    background-color: $c-bkg;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.Template {
    opacity: 0;
    display: none;
}

$f-light: 'Avenir LT Std 35 Light';
$f-regular: 'Avenir LT Std 65 Medium';
$f-bold: 'Avenir LT Std 85 Heavy';
$f-black: 'Avenir LT Std 95 Black';

html.scroll-lock {
    overflow: hidden;
}

html {
    overflow-x: hidden;
    font-family: 'Avenir LT Std 65 Medium';
}

::selection {
    background: rgba(#fff, 0.2);
    color: inherit;

}

#ArtistPopup .Inner ::selection {
    background: rgba(#000, 0.2);
}
