#Footer {
    display: flex;
    width: 100%;
    background-color: $c-dark;
    min-height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    .Column {
        flex: 1 0;
    }

    .MadeBy {
        position: absolute;
        font-size: 0.5rem;
        right: 0.5rem;
        bottom: 0.3rem;
        color: rgba(white, 0.2);

        .ghzmdr {
            text-decoration: none;
            color: rgba(red, 0.5);
            font-family: monospace;
            &:hover {
                color: green;
            }
        }
    }
}
