#Footer {
    display: flex;
    width: auto;
    padding: 0 1.3rem;

    height: 1rem;
    position: absolute;
    z-index: 2;
    bottom: 1rem;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;

    min-height: auto;

    .Column {
        flex: 1 0;
    }

    a {
        text-decoration: none;
        color: white;
        line-height: 1.25rem;
        display: inline-block;
        vertical-align: middle;
    }

    &:after {
        z-index: -1;
        position: absolute;
        content: '';
        left: -1rem;
        right: 0;
        top: -0.5rem;
        bottom: -0.5rem;
        background-color: $c-dark;

        transform: skew(3deg) rotate(-1deg);
    }

    .Socials {
        color: $c-accent;

        a {
            color: inherit;
            font-weight: bold;
        }
    }
}
