#Home {
    width: 100%;
    min-height: auto;
    height: calc(100% - 4.5rem);

    .IntroLogo {
        @include center-absolute;

        top: 52%;
        max-width: calc(1080px);
        display: flex;

        width: 100%;

        video {
            flex: 0 0;
            flex-basis: 33%;

            width: 33%;
            height: auto;
        }
    }

    html.ithing & {
        min-height: 10px;
    }

    @media (orientation: portrait) {
        height: calc(100% - 3.5rem);

        .IntroLogo {
            padding-top: 2rem;
            height: 100%;
            top: 48%;
            flex-direction: column;

            video {
                height: 33%;
                width: auto;
            }
        }
    }
}
