#Home {
    .IntroLogo {
        @include center-absolute;
        top: 52%;
        position: fixed;
        width: auto;

        display: flex;
        img {
            flex-direction: column;
            position: relative;
            z-index: 1;

            &:nth-child(2) {
                margin: 0 -11rem;
                z-index: 0;
            }
        }
    }

    min-height: calc(100vh - 4.5rem);

    @media(max-width: $screen-small) {
        min-height: calc(100vh - 3.5rem);
        .IntroLogo {
            top: 48%;
        }
    }
}
