#Schedule {
    background-color: $c-schedule-bkg;
    height: auto;
    box-shadow: 0 -4px 10px rgba(#000, 0.25), 0 8px 10px rgba(#000, 0.2);

    & > * {
        opacity: 0.0001;
    }

    .DaySelect {
        color: $c-accent;
        select {
            color: white;
        }
    }

    .Artist_Wrapper {
        padding: 0 1rem 2rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @media (orientation: portrait) {
            padding: 0 0.3rem 2rem;
        }
    }

    .Artist {
        width: calc(25%);


        @media (max-width: 1600px) {
            width: calc(33.33333333%);
        }

        @media (max-width: 1200px) {
            width: calc(50%);
        }

        @media (max-width: 700px) {
            width: calc(100%);
        }
    }

    &.ready {
        & > * {
            transition: opacity 0.2s;
            opacity: 1;
        }
    }

}
