#Schedule {
    background-color: $c-schedule-bkg;
    height: auto;
    box-shadow: 0 -4px 10px rgba(#000, 0.25), 0 8px 10px rgba(#000, 0.2);

    min-height: 50%;
    & > * {
        opacity: 0.0001;
        transition: opacity 0.2s;
    }

    .DaySelect {
        color: $c-accent;
        select {
            color: white;
        }
    }

    .Artist_Wrapper {
        padding: 2rem 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .Artist {
        width: calc(33.333333333% - 2rem);
        @media (max-width: 1600px) {
            width: calc(50% - 2rem);
        }
    }

    &.ready {
        min-height: auto;
        & > * {
            opacity: 1;
        }
    }
}
