#Tema {
    background-color: $c-accent;
    padding-bottom: 2rem;
    position: relative;

    .Content {
        width: 50%;
        padding: 2rem;
        line-height: 1.2;
        position: relative;
        z-index: 1;
    }

    .Twelve {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        video {
            display: none;
        }
    }

    @media (orientation: portrait) {
        .Content {
            width: 100%;
            padding: 2rem 0;

            p, h4 {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .Twelve {
            width: 100%;
        }
    }



    .Letters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4rem 0 2rem;

        .LetterWrapper {
            width: calc(50% - 2rem);
            display: flex;
            margin-right: 1rem;
            margin-bottom: 1rem;

            @media (orientation: portrait) {
                width: 100%;
                margin-right: 0;
                margin-left: 1rem;
            }
        }

        .Letter {
            font-weight: bold;
            font-size: 2rem;
            margin-right: 1rem;
            width: 3rem;
            text-align: center;
        }

        ul {
            list-style: none;

            li:not(last-child) {
                font-size: 0.8rem;
                margin-bottom: 0.8rem;

                font-weight: bold;
                color: darken($c-bkg, 10);
                a {
                    color: darken($c-bkg, 10);
                    text-decoration: underline;
                }
            }
        }
    }

    .Dictionary {
        margin-bottom: 3rem;
        @include elevation(3);
        background-color: #FFF;
        padding: 2rem;

        h3 {
            font-family: monospace;
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        h4, ol {
            margin-bottom: 2rem;
        }

        ol {
            margin-left: 1rem;
        }

        .quote {
            font-style: italic;
            font-weight: normal;
            color: $c-dark;
        }

        .quote, .description {
            margin-bottom: 1rem;
        }
    }
    p {
        margin-bottom: 2rem;
    }

    br {
        content: '';
        display: block;
        height: 1rem;
        width: 10px;
    }
    h4 {
        color: $c-bkg;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }

    .tag {
        color: $c-bkg;
        font-weight: bold;
    }
}
