.DaySelect {
   display: inline-block;
   //padding: 2rem 2rem 2rem 3rem;
   padding: 1.4rem 1rem 1rem 2rem;
   border-radius: 3px;
   font-size: 1.2rem;
   position: relative;
   width: 100%;

   &_Input {
      -webkit-appearance: none;
      background: transparent;
      outline: none;
      border: none;
      border-radius: 1px;
      overflow: hidden;
      margin-left: 0.5rem;
      font-size: 0.9em;
      padding: 0 1.3em 0.3em 0.3em;
      border-bottom: 1px solid currentColor;
   }

   &_Label {
      color: currentColor;
      display: inline-block;
      position: relative;
      font-weight: bold;

      &:after {
         content: '';
         display: inline-block;
         transform: translateX(-0.8em);
         border: 0.3em solid transparent;
         border-top-color: currentColor;
      }
   }

   @media(max-width: $screen-small) {
      padding: 1rem 1.5rem;
   }
}
