.IntroLogo {
    position: fixed;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: bolder;

    .fat {
        color: $c-accent;
        text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        font-size: 24vw;

        @media(orientation: portrait) {
            font-size: 24vh;
            word-break: break-all;
            width: 1em;
        }
    }
}
