#Menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    @media (max-width: 800px) {
        display: none;
    }

    ul {
        padding: 1rem;
        list-style: none;

        li {
            padding: 0 1rem;
            display: inline-block;
        }
    }

    .Menu_Toggle {
        height: 100%;
        position: absolute;
        top: 0; bottom: 0;
        width: 3rem;
        content: '';
        background-color: $c-accent;
        transform: translateX(-100%);

        .Hamburger {
            @include center-absolute;
            width: 3rem;
        }
    }

    .Menu_Link {
        $link-color: rgba($c-gray, 0.7);
        text-decoration: none;
        color: $link-color;
        font-weight: bold;
        transition: color 0.2s;

        text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &.active {
            color: darken($link-color, 10);
            color: #fafafa;
        }
    }

    @media (max-width: $screen-small) {
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            li {
                flex: 1 0;
                text-align: center;
            }
        }
    }
}
