.Menu_Toggle {
    .Hamburger {
        $bar-height: 0.4rem;

        &_Top, &_Mid, &_Bot {
            @include elevation(1);
            display: block;
            height: $bar-height;
            margin-bottom: $bar-height;
            left: 0;
            width: 100%;
            background-color: $c-dark;
        }

        &_Bot {
            padding-bottom: none;
        }
    }
}
